<div *ngIf="state === 'ObservationList'">
  <div *ngFor="let bird of birdList">
    <div>{{bird.name}}</div>
    <div>{{bird.rarity}}</div>
    <div>{{bird.notes}}</div>
  </div>
  <button class="button" (click)="changeState('ObservationForm');">Add New Observation</button>
</div>

<div *ngIf="state === 'ObservationForm'">
  <form [formGroup]="checkoutForm" (ngSubmit)="submitForm(checkoutForm.value);">

    <div>
      <label for="name">Name</label>
      <input id="name" type="text" formControlName="name">
    </div>

    <div>
      <label for="notes">Notes</label>
      <input id="notes" type="text" formControlName="notes">
    </div>

    <div>
      <label for="rarity">Notes</label>
      <select id="rarity">
        <option value="common">common</option>
        <option value="rare">rare</option>
        <option value="extremely rare">extremely rare</option>
      </select>
    </div>

    <button class="button" (click)="changeState('ObservationList');">Cancel</button>
    <button class="button" type="submit">Purchase</button>

  </form>
</div>

















