.input {
  display: inline-block;
  width: 50%;
  text-align: left;
}

.observation-view {
  padding: 10px;
  text-align: center;
}

.observation-list-outer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.observation-list-inner {
  display: inline-block;
  padding: 5px;
  margin: 10px 5px;
}

.card {
  width: 260px;
  height: 409px;
  padding-bottom: 0;
}

.label {
  padding-right: 10px;
  display: inline-block;
  width: 25%;
  text-align: right;
}

.left-align {
  text-align: left;
}

.header-container {
  text-align: center;
  background: #f9f9f9;
  height: 73px;
  font-family: Raleway, sans-serif !important;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.16);
  padding: 0;
}

.card-media {
  text-align: center;
  padding-top: 5px;
  width: 260px;
  display: block;
  height: 160px;
  position: relative;
  overflow: hidden;
  -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.bird-name {
  font-size: 17px;
  color: #3A3A3A;
  font-weight: bold;
}

.view-notes {
  width: 50%;
  background-color: #27AE60;
  color: white;
  border-radius: 0;
}

.edit {
  width: 50%;
  background-color: white;
  color: #27AE60;
  border-radius: 0;
}

.preview-div {
  line-height: 3.6;
  display: inline-block;
  width: 292px;
  height: 48px;
  text-align: center;
  cursor: pointer;
  margin-top: -10px;
  margin-left: -16px;
  box-shadow: 0 1px #00000029;
}

.preview-label {
  line-height: 33px;
  cursor: pointer;
}

.add-btn {
  margin: 0 10px;
  height: 40px;
  background: #ffffff;
  border: 2px solid #27AE60;
  color: #27AE60;
  font-size: 14px;
  border-radius: 7px;
}

.add-btn-width {
  width: 160px;
}

.form-btn-width {
  width: 116px;
}

.button-container {
  text-align: center;
  padding: 20px 0;
}

.cancel {
  color: #b80e0e;
  border-color: #b80e0e;
}

.location-icon {
  font-size: 13px;
  color: #27AE60;
}

.add-icon {
  margin-bottom: 2px;
  color: #27AE60;
}

input {
  border: 1px solid #676767;
  border-radius: 7px;
  height: 38px;
  width: 170px;
  padding: 0 10px;
  font-size: 16px;
  color: #545454;
}

input[type=text]:focus {
  outline: none; /* Remove default outline and use border or box-shadow */
  box-shadow: 0 0 0 2px #676767; /* Full freedom. (works also with border-radius) */
}

select {
  border: 1px solid #676767;
  border-radius: 7px;
  height: 38px;
  width: 200px;
  padding: 0 10px;
  font-size: 16px;
  color: #545454;
}

form > div {
  text-align: center;
  padding: 15px;
}
