<div class="observation-view">

  <div class="header-container">
    <img src="../assets/bwa_logo.svg" alt="Bird Watching Association" style="width: 137px;height: 55px;">
  </div>

  <div *ngIf="state === 'ObservationList'">
    <div class="observation-list-outer">
      <div class="observation-list-inner" *ngFor="let bird of birdList; let i = index"
           [attr.data-index]="i">
        <mat-card class="card">
          <mat-card-title class="card-media">
            <img mat-card-image src="../assets/placeholder.jpg" height="240px" width="300px"
                 alt="{{bird.name}}">
          </mat-card-title>
          <mat-card-content>
            <p class="left-align bird-name">{{bird.name}}</p>
            <p class="left-align"><mat-icon class="location-icon">gps_fixed</mat-icon>
              <span class="left-align" *ngIf="bird.latitude && bird.longitude">{{bird.latitude}}, {{bird.longitude}}</span>
              <span class="left-align" *ngIf="!bird.latitude || !bird.longitude">Unknown Location</span>
            </p>
            <p class="left-align"><strong>Species: </strong>{{bird.species}}</p>
            <p class="left-align"><strong>Rarity: </strong>{{bird.rarity}}</p>

            <p class="left-align"><strong>Uploaded At: </strong>{{bird.timestamp | date : 'MMM d, y, h:mm:ss a'}}</p>
            <p class="left-align" *ngIf="currentUser"><strong>Uploaded By: </strong>{{(currentUser | slice:0:14) + '..'}}</p>
            <p class="left-align" *ngIf="!currentUser"><strong>Uploaded By: </strong>Anonymous</p>
          </mat-card-content>

          <div class="preview-div">
            <button mat-button (click)="viewNotes(bird.notes);"
                    class="view-notes">
              View Notes
            </button>
            <button mat-button (click)="editObservation(bird);changeState('ObservationFormEdit');"
                    class="edit">
              Edit
            </button>
          </div>

        </mat-card>
      </div>
    </div>

    <div class="button-container">
      <button class="add-btn add-btn-width" mat-button (click)="changeState('ObservationFormAdd');clearForm();">
        <mat-icon class="add-icon">add</mat-icon>
        Add Observation
      </button>
    </div>
  </div>


  <div *ngIf="state === 'ObservationFormEdit' || state === 'ObservationFormAdd'">
    <form [formGroup]="checkoutForm" (ngSubmit)="submitForm(checkoutForm.value);">

      <div>
        <div class="label">
          <label for="name">Scientific Name</label>
        </div>

        <div class="input">
          <input id="name" type="text" formControlName="name" autocomplete="off">
        </div>
      </div>

      <div>
        <div class="label">
          <label for="species">Species</label>
        </div>

        <div class="input">
          <input id="species" type="text" formControlName="species" autocomplete="off">
        </div>
      </div>

      <div>
        <div class="label">
          <label for="notes">Notes</label>
        </div>

        <div class="input">
          <input id="notes" type="text" formControlName="notes" maxlength="200" autocomplete="off">
        </div>
      </div>

      <div>
        <div class="label">
          <label for="rarity">Rarity</label>
        </div>

        <div class="input">
          <select id="rarity" formControlName="rarity">
            <option value="common">common</option>
            <option value="rare">rare</option>
            <option value="extremely rare">extremely rare</option>
          </select>
        </div>
      </div>

      <div>
        <button class="add-btn form-btn-width" type="submit" mat-button>
          Submit
        </button>

        <button class="add-btn form-btn-width cancel" mat-button (click)="changeState('ObservationList');clearForm();">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>


















